<h2>Genre List</h2>

<button routerLink="/genres/add">Add New Genre</button>

<div *ngIf="genres.length === 0; else genreList">
  <p>No genres found</p>
</div>

<ng-template #genreList>
  <ul>
    <li *ngFor="let genre of genres; trackBy: trackById">
      <span style="font-weight: bold;">{{ genre.name }}</span>
      (ID: {{ genre.id }})

      <button routerLink="/genres/{{ genre.id }}">Details</button>
      <button routerLink="/genres/edit/{{ genre.id }}">Edit</button>
      <button style="color: red;" (click)="removeGenre(genre.id)">
        Delete
      </button>
    </li>
  </ul>
</ng-template>
